@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swa');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

/* Add some styles for body*/
body {
    width: 100%;
    height: 100vh;
    background-color: #F2F5F9;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card{
    position: relative;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.09);
    width: 30%;
    height: auto;
    border-radius: 15px;
}
.card img{
    width: 100%;
    /* border-radius: 10px; */
    border-radius: 15px 15px 0 0; 
    clip-path: polygon(56% 0, 100% 0, 100% 100%, 76% 81%, 40% 91%, 0 90%, 0 0);
}
.title{
    font-size: 24px;

}
.corps{
    font-size: 16px;

}
.card-footer{
    display: flex;
    padding: 2%;
    align-items: center;
    font-size: 16px;
}
.card-footer img{
    width: 15%;
    border-radius: 50%;
    margin: 5% 5% 5% 0;
    border: 5px solid #F2F5F9;
}
.card-footer #name{
    font-weight: bolder;
}
.card-body, .card-footer {
    padding: 3%;
}
.corps, .card-footer, hr{
    color: #6C727F
}
hr{
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #6c727f85;
}

@media screen and (max-width: 768px) {
    .card {
        width: 90%;
    }
}